.featured-posts {
  height: 400px;
  margin: 5px 10px 10px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  position: relative;
  border-radius: 5px;
}
.featured-posts h2,
.featured-posts p {
  margin: 0;
  padding: 10px;
  position: absolute;
}
.featured-posts h2 {
  bottom: 0;
}
.featured-posts p {
  top: 0;
}
.featured-posts h2 span,
.featured-posts p span {
  display: inline-block;
  font: lighter 24px/45px "Montserrat", sans-serif;
  letter-spacing: -1px;
  padding: 10px;
}
.featured-posts p span {
  font-size: 18px;
  line-height: 30px;
}
.featured-posts h1 {
  margin: 10px;
}
