.ais-InstantSearch__root {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}
.ais-SearchBox,
.ais-Stats {
  padding: 0.5rem 3rem;
}
.ais-SearchBox {
  padding-top: 6rem;
}
.ais-SearchBox-input {
  background: none;
  border: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  display: flex;
  font-size: 1.6rem;
  padding: 0.7rem 1rem;
  width: 100%;
}
.ais-SearchBox-input:focus {
  animation: glow 900ms ease-out infinite alternate;
  outline: none;
}

.ais-SearchBox-submit,
.ais-SearchBox-reset {
  display: none;
}

.ais-SearchBox,
.ais-SearchBox-form,
.ais-SearchBox-input {
  width: 100%;
  box-sizing: border-box;
}

.ais-Hits ul {
  list-style: none;
}
.ais-Hits-list {
  width: 100%;
  margin: 0;
}

@keyframes glow {
  0% {
    border-color: #57626a;
    box-shadow: 0 0 5px rgba(112, 126, 136, 0.2),
      inset 0 0 5px rgba(112, 126, 136, 0.1), 0 2px 0 #57626a;
  }
  100% {
    border-color: #333e46;
    box-shadow: 0 0 20px rgba(74, 85, 93, 0.6),
      inset 0 0 10px rgba(74, 85, 93, 0.4), 0 2px 0 #333e46;
  }
}
