.paginator {
  text-align: center;
}
.paginator a {
  text-decoration: none;
}
.paginator-button {
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 15px 45px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  transition: 0.25s ease-in-out;
}
.disable-border {
  border: none;
}
